<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/Sivaraman M/Documents/Moxey Repository/UAE_MOXEY/Assessement_Sivaraman_M/src/test/java/test/ElPaisScraperTest.java">
        <classes>
            <class name="test.ElPaisScraperTest">
                <methods>
                    <include name="scrapeOpinionArticles"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>